@import '../common/var';

@mixin button-plain($color) {
    color: $color;
    fill: $color;
    background: mix($--color-white, $color, 90%);
    border-color: mix($--color-white, $color, 60%);
    
    &:hover,
    &:focus {
        background: $color;
        border-color: $color;
        color: $--color-white;
        fill: $--color-white;
    }
    
    &:active {
        background: mix($--color-black, $color, $--button-active-shade-percent);
        border-color: mix($--color-black, $color, $--button-active-shade-percent);
        color: $--color-white;
        fill: $--color-white;
        outline: none;
    }
    
    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
            color: mix($--color-white, $color, 40%);
            fill: mix($--color-white, $color, 40%);
            background-color: mix($--color-white, $color, 90%);
            border-color: mix($--color-white, $color, 80%);
        }
    }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
    &.is-round {
        padding: $padding-vertical $padding-horizontal;
    }
}

@mixin button-variant($color, $background-color, $border-color) {
    fill: $color;
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
    
    &:hover,
    &:focus {
        background: mix($--color-white, $background-color, $--button-hover-tint-percent);
        border-color: mix($--color-white, $border-color, $--button-hover-tint-percent);
        color: $color;
        fill: $color;
    }
    
    &:active {
        background: mix($--color-black, $background-color, $--button-active-shade-percent);
        border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
        color: $color;
        fill: $color;
        outline: none;
    }
    
    &.is-plain {
        @include button-plain($background-color);
    }
}
