@import '../common/var';

.w-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid $--border-color-base;
    &-wrapper {
        position: relative;
        overflow: auto;
        width: 100%;
    }
    &--loading{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(255,255,255,.9);
        transition: opacity .3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        svg{
            width: 4rem;
            height: 4rem;
            animation: spin 1.5s infinite linear;
        }
    }
    &.w-table--border {
        border: 1px solid $--border-color-base;
        td, th {
            border: 1px solid $--border-color-base;
        }
    }
    td, th {
        border-bottom: 1px solid $--border-color-base;
        text-align: left;
        padding: 8px;
    }
    &.w-table--stripe {
        tbody {
            > tr {
                &:nth-child(odd) {
                    background: white;
                }
                &:nth-child(even) {
                    background: lighten($--border-color-base, 10%);
                }
            }
        }
    }


}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
