@import './common/var';
@import './mixins/mixins';
@import './mixins/button';

@include b(button){
    display: inline-block;
    line-height:1;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    transition: .1s;
    color: $--button-default-font-color;
    font-weight: $--button-font-weight;
    border: $--border-base;
    border-color: $--button-default-border-color;
    background: $--button-default-background-color;
    @include button-size($--button-padding-vertical,$--button-padding-horizontal,$--button-font-size,$--border-radius-base)
};
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.w-button {
    //&:hover { border-color: $border-color-hover; }
    //&:active { background-color: $button-active-bg; }
    //&:focus { outline: none; }
    > .w-button-content { order: 2; }
    > .icon { order: 1; margin-right: .1em; }
    &.icon-right {
        > .w-button-content { order: 1; }
        > .icon { order: 2; margin-right: 0; margin-left: .1em;}
    }
    .loading {
        animation: spin 2s infinite linear;
    }
}

